*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/classes
/gen
*.apk
_prepare_dropbox_keys.sh
app/release/app-release.aab
app/release/output.json
*.aab
app/untied/release/output.json
app/fdroid/release/output.json
