<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) 2010 Denis Solonenko.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v2.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  
  Contributors:
      Denis Solonenko - initial API and implementation
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.handydev.financier"
    android:installLocation="internalOnly">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <!-- Custom permissions -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- System permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="com.handydev.financier.app.FinancierApp_"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.handydev.financier.activity.AccountWidget"
            android:label="@string/widget_2x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x1" />
        </receiver>

        <receiver
            android:name="com.handydev.financier.activity.AccountWidget3x1"
            android:label="@string/widget_3x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_3x1" />
        </receiver>

        <receiver
            android:name="com.handydev.financier.activity.AccountWidget4x1"
            android:label="@string/widget_4x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x1" />
        </receiver>

        <receiver android:name="com.handydev.financier.activity.ScheduledAlarmReceiver">
            <intent-filter>
                <action android:name=".SCHEDULED_ALARM" />
                <action android:name=".SCHEDULED_BACKUP" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.handydev.financier.activity.PackageReplaceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data
                    android:path="com.handydev.financier"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.handydev.financier.service.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000"> <!-- https://stackoverflow.com/a/23732410/365675 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.handydev.financier.service.FinancierService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name=".SCHEDULE_ONE" />
                <action android:name=".SCHEDULE_ALL" />
                <action android:name=".ACTION_SCHEDULE_AUTO_BACKUP" />
                <action android:name=".ACTION_AUTO_BACKUP" />
                <action android:name=".NEW_TRANSACTON_SMS" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.handydev.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.handydev.financier.activity.TransactionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:icon="@drawable/icon_transaction"
            android:label="@string/transaction"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name=".NEW_TRANSACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.handydev.financier.activity.TransferActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:icon="@drawable/icon_transfer"
            android:label="@string/transfer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name=".NEW_TRANSFER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.handydev.financier.activity.PinActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.handydev.financier.activity.BlotterActivity"
            android:label="@string/blotter" />

        <activity
            android:name="com.handydev.financier.activity.PlannerActivity"
            android:label="@string/planner" />

        <activity
            android:name="com.handydev.financier.activity.MassOpActivity"
            android:label="@string/mass_operations" />

        <activity
            android:name="com.handydev.financier.activity.BudgetBlotterActivity"
            android:label="@string/budget" />

        <activity
            android:name="com.handydev.financier.activity.SplitsBlotterActivity"
            android:label="@string/report" />

        <activity
            android:name="com.handydev.financier.activity.RecurActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:icon="@drawable/icon_transfer"
            android:label="@string/recur"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.RecurrenceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/recur"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.NotificationOptionsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/notification"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.CurrencyListActivity"
            android:label="@string/currencies" />

        <activity
            android:name="com.handydev.financier.activity.ExchangeRatesListActivity"
            android:label="@string/exchange_rates" />

        <activity
            android:name="com.handydev.financier.activity.ExchangeRateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/exchange_rate" />

        <activity
            android:name="com.handydev.financier.activity.CategoryListActivity2"
            android:label="@string/categories" />

        <activity
            android:name="com.handydev.financier.activity.AttributeListActivity"
            android:label="@string/attributes" />

        <activity
            android:name="com.handydev.financier.activity.AccountActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/account" />

        <activity
            android:name="com.handydev.financier.activity.ReportActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/report" />

        <activity
            android:name="com.handydev.financier.activity.CurrencyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/currency" />

        <activity
            android:name="com.handydev.financier.activity.AttributeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attribute"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.SmsTemplateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/sms_tpl"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.SmsDragListActivity"
            android:label="@string/sms_templates"
            android:theme="@style/Theme.AppCompat"
        />

        <activity
            android:name="com.handydev.financier.activity.DateFilterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/filter"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.NoteFilterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/filter"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.BlotterFilterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/filter"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.ReportFilterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/filter"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.CategoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/category" />

        <activity
            android:name="com.handydev.financier.activity.BudgetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/budgets" />

        <activity
            android:name="com.handydev.financier.activity.PreferencesActivity"
            android:label="@string/preferences"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.handydev.financier.activity.ProjectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/project"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.ProjectListActivity"
            android:label="@string/projects"/>

        <activity
            android:name="com.handydev.financier.activity.PayeeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/payee"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.PayeeListActivity"
            android:label="@string/payees" />

        <activity
            android:name="com.handydev.financier.activity.LocationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/location"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.LocationsListActivity"
            android:label="@string/locations" />

        <activity
            android:name="com.handydev.financier.activity.TemplatesListActivity"
            android:label="@string/transaction_templates" />

        <activity
            android:name="com.handydev.financier.activity.ScheduledListActivity"
            android:label="@string/scheduled_transactions" />

        <activity
            android:name="com.handydev.financier.activity.SelectTemplateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/transaction_templates"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.CsvExportActivity"
            android:label="@string/csv_export" />
        <activity
            android:name="com.handydev.financier.activity.CsvImportActivity"
            android:label="@string/csv_import" />

        <activity
            android:name="com.handydev.financier.activity.QifExportActivity"
            android:label="@string/qif_export" />
        <activity
            android:name="com.handydev.financier.activity.QifImportActivity"
            android:label="@string/qif_import" />

        <activity
            android:name="com.handydev.financier.activity.MonthlyViewActivity"
            android:label="@string/monthly_view" />
        <activity
            android:name="com.handydev.financier.activity.CCardStatementClosingDayActivity"
            android:label="@string/closing_day" />

        <activity
            android:name="com.handydev.financier.activity.Report2DChartActivity"
            android:label="@string/report" />
        <activity
            android:name="com.handydev.financier.activity.ReportPreferencesActivity"
            android:label="@string/report_preferences" />
        <activity
            android:name="com.handydev.financier.activity.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name="com.handydev.financier.activity.WebViewActivity"
            android:label="@string/about" />

        <activity
            android:name="com.handydev.financier.activity.SplitTransactionActivity"
            android:label="@string/split_transaction" />
        <activity
            android:name="com.handydev.financier.activity.SplitTransferActivity"
            android:label="@string/split_transfer" />

        <activity
            android:name="com.handydev.financier.dialog.FolderBrowser"
            android:label="@string/select_folder" />
        <activity
            android:name="com.handydev.financier.activity.CategorySelectorActivity"
            android:label="@string/select_category" />

        <activity
            android:name="com.handydev.financier.activity.AccountListTotalsDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/totals"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.BlotterTotalsDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/totals"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.BudgetListTotalsDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/totals"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.handydev.financier.activity.PurgeAccountActivity"
            android:label="@string/delete_old_transactions" />

        <activity android:name="org.achartengine.GraphicalActivity" />

        <activity
            android:name="com.handydev.financier.activity.RequestPermissionActivity_"
            android:label="@string/permissions"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-30hmhyk6llupt3j" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest> 
